.App {
  text-align: center;
}

.Probably
{
  font-size: calc(10px + 3vmin);
  color: #4b4237;
}

.App-header {
  background-color: #EDE7d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #736b50;
}

.App-link {
  color: #61dafb;
}
